<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lza.shopadmin.dao.DocDao">
    <resultMap id="BaseResultMap" type="com.lza.shopadmin.entity.DocEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="tag" property="tag" jdbcType="VARCHAR" />
        <result column="tag_demo" property="tagDemo" jdbcType="VARCHAR" />
        <result column="api_address" property="apiAddress" jdbcType="VARCHAR" />
        <result column="return_example_value" property="returnExampleValue" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="typeid" property="typeid" jdbcType="INTEGER" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="createdby" property="createdby" jdbcType="VARCHAR" />
        <result column="updatecount" property="updatecount" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="updateby" property="updateby" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, typeid, name, tag, tag_demo, api_address, return_example_value,pid,
        sort, description, status, create_time, createdby, updatecount, update_time,
        updateby
    </sql>
    
    <sql id="whereStatement">
		<where>
			1 = 1 
			and a.typeid = #{condition.typeid}
			<if test="condition.name != null">
	          	and a.name like CONCAT(#{condition.name, jdbcType=VARCHAR},'%') 
	        </if>
	        <if test="condition.status != null">
	          	and a.status = #{condition.status}
	        </if>
	        <if test="condition.pid != 0">
	        	and a.pid = #{condition.pid}
	        </if>
	        <if test="condition.pid == 0">
	        	and a.pid is null
	        </if>
		</where>
	</sql>
	
	<sql id="whereStatement1">
		<where>
			1 = 1 
			and a.typeid = #{typeid}
	        <if test="status != null">
	          	and a.status = #{status}
	        </if>
	        <if test="pid != 0">
	        	and a.pid = #{pid}
	        </if>
	        <if test="pid == 0">
	        	and a.pid is null
	        </if>
		</where>
	</sql>
	
	<sql id="whereStatement2">
		<where>
			1 = 1 
			and a.typeid = #{condition.typeid}
			<if test="condition.name != null">
	          	and a.name like CONCAT(#{condition.name, jdbcType=VARCHAR},'%') 
	        </if>
	        <if test="condition.status != null">
	          	and a.status = #{condition.status}
	        </if>
	        <if test="condition.pid != 0">
	        	and a.pid = #{condition.pid}
	        </if>
	        <if test="condition.pid == 0">
	        	and a.pid is null
	        </if>
		</where>
	</sql>
    
    <!--查询条数-->
    <select id="getDocCount" parameterType="com.lza.shopadmin.entity.DocEntity" resultType="int">
        SELECT count(1) FROM shop_doc a 
        <include refid="whereStatement2" />
    </select>

    <!--查询分页列表-->
    <select id="getDocList" parameterType="com.lza.shopadmin.utils.Pager" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_doc a 
        <include refid="whereStatement" />
        order by a.id desc
    </select>
    
    <!--查询所有列表-->
    <select id="getAllDocList" parameterType="com.lza.shopadmin.entity.DocEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_doc a 
        <include refid="whereStatement1" />
        order by a.id desc
    </select>

	<!--根据id获取数据-->
    <select id="getDocById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from shop_doc where id = #{id}
    </select>
    
    <!--保存数据-->
    <insert id="save" parameterType="com.lza.shopadmin.entity.DocEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO shop_doc(name, typeid, tag, tag_demo, api_address, return_example_value,pid,sort, description, status, create_time, createdby)
        VALUES(#{name},#{typeid},#{tag},#{tagDemo},#{apiAddress},#{returnExampleValue},#{pid},#{sort},#{description},#{status},#{createTime},#{createdby});
    </insert>
    
    <!--更新数据-->
    <update id="update" parameterType="com.lza.shopadmin.entity.DocEntity">
        update shop_doc
        set 
        name = #{name,jdbcType=VARCHAR},
        api_address = #{apiAddress, jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER},
        description = #{description,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        return_example_value = #{returnExampleValue,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=BIGINT},
        updateby = #{updateby,jdbcType=VARCHAR}
        where id=#{id,jdbcType=INTEGER}
    </update>

	<!--删除数据-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from shop_doc where id=#{id}
    </delete>

</mapper>